![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [78]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [79]:
best_math_schools = schools[["school_name", "average_math"]]
best_math_schools = best_math_schools[best_math_schools.average_math >= 640].sort_values(by="average_math", ascending = False)

In [80]:
schools["total_SAT"] = schools.average_math + schools.average_reading + schools.average_writing
top_10_schools = schools[["school_name", "total_SAT"]].sort_values(by="total_SAT", ascending=False).iloc[:10]

In [81]:
largest_std_dev = pd.DataFrame()
data =pd.DataFrame()
data["num_schools"] = schools.groupby("borough")["school_name"].count()
data[["average_SAT", "std_SAT"]] = schools.groupby("borough")["total_SAT"].agg(["mean", "std"]).round(2)

# NYC borough with the largest standard deviation
largest_std_dev = data.loc[data["std_SAT"] == data["std_SAT"].max()]

               num_schools  average_SAT  std_SAT
borough
Bronx                   98      1202.72   150.39
Brooklyn               109      1230.26   154.87
Manhattan               89      1340.13   230.29
Queens                  69      1345.48   195.25
Staten Island           10      1439.00   222.30